{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
{% endblock head %}

{% block main %}



<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Students </h1> -->
<!-- </div> -->


<div class="container">

        <div class="d-flex justify-content-between align-items-center">          
          <h2 class="fw-bold text-start" style="color:#1E3A8A;">Academic Years</h2>
          
          
          <!-- Buttons on the right -->
          <div class="d-flex">
            <div class="my-3 ms-2 ms-md-3">
              {% comment %} <a href="{% url 'student-create' %}"> {% endcomment %}
                <button type="button" id="filter-btn" class="btn btn-primary bg-primary"  data-bs-toggle="modal" data-bs-target="#addAcademicYearModal">
                  <i class="fa-solid fa-calendar-plus px-2"></i> New Academic Year
                </button>
              </a>
            </div>
          </div>
        </div>
      
      <hr>


        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

      <div class="row">
                                
        <div class="col my-2">
            <div class="table-responsive shadow" >

                <div class="card border-0 rounded-4 shadow-lg">

                    <div class="card-body">
                    <h4 style="color:#1E3A8A;" class="text-center"><i class="fa-solid fa-calendar-days"></i> Academic Year</h4>
                    <hr class="" style="color:#1E3A8A;">
                    
                        <div class="row border rounded-4 mx-2">
                        <div class="col-12">
                            <div class="table-responsive my-3">
                                <table id="academicYearTable"class="table text-center" style="width:100%">
                                  <thead>
                                      <tr class="text-center">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Academic Year</th>
                                        <th class="text-center">Start Date</th>
                                        <th class="text-center">End Date</th>
                                        <th class="text-center">Is Active</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                    {% for year in academic_years %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td>{{year.name}}</td>
                                        <td>{{year.start_date}}</td>
                                        <td>{{year.end_date}}</td>
                                        <td>
                                          {% if year.is_active %}
                                            <i class="fa-solid fa-circle-check text-success"></i><br>
                                            <small>{{student.enrollments.first.academic_year}}</small>
                                          {% else %}
                                            <i class="fa-solid fa-circle-xmark text-danger"> </i> 
                                          {% endif %}
                                        </td>
                                        <td>
                                          <a href="{% url "academic-year-detail" year.id %}">
                                            <button class="btn btn-outline-primary px-3 py-1 rounded-3 font-size-16" type="button"> Detail </button>  
                                          </a>
                                        </td>
                                      
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                              
                                </table>
                              </div>
    
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

  <!-- Modal for Add Academic Year -->
  <div class="modal fade" id="addAcademicYearModal" tabindex="-1" aria-labelledby="addAcademicYearModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAcademicYearModelLabel">Announce New Academic Year</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="form-errors">
        </div>

        <div class="modal-body">
          <form method="POST" novalidate>
            {% csrf_token %}
            
            <div class="mx-2">
            {{form.start_date.label}}            
            {{form.start_date}}            
            <span class="text-danger">{{form.start_date.errors}}</span>
            </div>
            <div class="mx-2">
            {{form.is_active.label}} <br>
            {{form.is_active}}            
            <span class="text-danger">{{form.is_active.errors}}</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

<!-- End Modal for Add Academic Year -->


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>

<script>
new DataTable('#academicYearTable', {  
});
</script>



{% endblock main %}

