{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block main %}


<div class="container-fluid d-flex justify-content-center">
    <div class="card col-md-12 bg-white rounded-lg p-0">
        <div class="card-header">
            <h4 class="card-title h3 mb-4 text-primary text-start">Dashboard</h4>
            
            <!-- Row One: Total Students, Total Teachers, Total Employees, Total Classes -->
            <div class="row mb-4 ">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card text-center p-3 shadow-lg" style="border-radius:20px">
                        <div class="d-flex flex-column align-items-center pt-2" style="border-radius:3rem;">
                            <i class="fas fa-user-graduate text-primary mb-3" style="font-size: 2.5rem;"></i>
                            <h5>Total Students</h5>
                            <h3 class="text-primary">2500</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card text-center p-3 shadow-lg" style="border-radius:20px;">
                        <div class="d-flex flex-column align-items-center pt-2">
                            <i class="fas fa-chalkboard-teacher text-success mb-3" style="font-size:  2.5rem;"></i>
                            <h5>Total Teachers</h5>
                            <h3 class="text-success">150</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card text-center p-3 shadow-lg" style="border-radius:20px;">
                        <div class="d-flex flex-column align-items-center pt-2">
                            <i class="fas fa-users text-warning mb-3" style="font-size:  2.5rem;"></i>
                            <h5>Total Staff</h5>
                            <h3 class="text-warning">600</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card text-center p-3 shadow-lg" style="border-radius:20px;">
                        <div class="d-flex flex-column align-items-center pt-2">
                            <i class="fas fa-school text-danger mb-3" style="font-size:  2.5rem;"></i>
                            <h5>Total Classes</h5>
                            <h3 class="text-danger">20</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row Two: Total Students by Gender, Attendance -->
            <div class="row mb-4 pt-4">
                <!-- Gender Chart -->
                <div class="col-md-5 ">
                    <div class="card text-center p-3 shadow-lg" style="border-radius:20px;">
                        <h5>Total Students by Gender</h5>
                        <canvas id="genderChart" style="height: 300px; max-height: 300px;"></canvas>
                    </div>
                </div>
                <!-- Attendance Chart -->
                <div class="col-md-7">
                    <div class="card text-center p-3 shadow-lg" style="height: 100%; border-radius:20px;">
                        <h5>Student Attendance</h5>
                        <canvas id="attendanceChart" style="height: 300px; max-height: 300px;"></canvas>
                    </div>
                </div>
            </div>

            <!-- row 3 -->
            <div class="row mb-4 pt-4">
                <div class="col-md-9 mt-1">
                    <div class="card text-start p-4 shadow-lg" style="border-radius: 20px; max-height:300px; overflow-y:auto">
                        <div class="d-flex justify-content-between bg-light align-items-center pb-3 text-dark fw-bold sticky-top">
                            <h5>Notice Board</h5>
                            <button class="btn btn-primary btn-sm">+</button>
                        </div>
                        <table class="table table-borderless align-middle">
                            <tbody>
                                <tr>
                                    <td style="width: 10%;">
                                        <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="Notice" class="img-fluid rounded">
                                    </td>
                                    <td style="width: 50%;">
                                        <strong>School annual sports day celebration 2023</strong>
                                    </td>
                                    <td style="width: 20%;">
                                        <span class="text-muted small">20 July, 2023</span>
                                    </td>
                                    <td style="width: 10%;" class="text-center text-primary">
                                        <i class="bi bi-eye"></i> 20k
                                    </td>
                                    <td style="width: 10%;" class="text-end">
                                        <i class="bi bi-three-dots"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="Notice" class="img-fluid rounded">
                                    </td>
                                    <td>
                                        <strong>Annual Function celebration 2023-24</strong>
                                    </td>
                                    <td>
                                        <span class="text-muted small">05 July, 2023</span>
                                    </td>
                                    <td class="text-center text-primary">
                                        <i class="bi bi-eye"></i> 15k
                                    </td>
                                    <td class="text-end ">
                                        <i class="bi bi-three-dots"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="Notice" class="img-fluid rounded">
                                    </td>
                                    <td>
                                        <strong>Mid term examination routine published</strong>
                                    </td>
                                    <td>
                                        <span class="text-muted small">15 June, 2023</span>
                                    </td>
                                    <td class="text-center text-primary">
                                        <i class="bi bi-eye"></i> 22k
                                    </td>
                                    <td class="text-end ">
                                        <i class="bi bi-three-dots"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="Notice" class="img-fluid rounded">
                                    </td>
                                    <td>
                                        <strong>Inter school annual painting competition</strong>
                                    </td>
                                    <td>
                                        <span class="text-muted small">18 May, 2023</span>
                                    </td>
                                    <td class="text-center text-primary">
                                        <i class="bi bi-eye"></i> 18k
                                    </td>
                                    <td class="text-end">
                                        <i class="bi bi-three-dots"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center p-4 shadow-lg text-dark" style="border-radius: 1.5rem;">
                        <h5>Event Calendar</h5>
                        <div id="datepicker" style="width: 100%; margin-top: 20px;"></div>
                    </div>
                </div>
                

            </div>

            <!-- row 4 -->
            <div class="row mb-4 pt-4 d-flex align-items-stretch">
                <!-- Top Students Card -->
                <div class="col-md-4 d-flex">
                    <div class="card text-dark p-3 shadow-lg w-100" style="border-radius: 20px;">
                        <div class="d-flex justify-content-between mb-3 px-2">
                            <h5>Top Students</h5>
                            <select class="form-select form-select-sm w-auto" aria-label="Select Class">
                                <option selected>Class 6th</option>
                                <option value="1">Class 1</option>
                                <option value="2">Class 2</option>
                                <option value="3">Class 3</option>
                            </select>
                        </div>
                        <div class="list-group">
                            <!-- Example student card -->
                            <div class="list-group-item d-flex align-items-center p-3 mb-2 shadow-sm">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtPueYaKxR_J0cSzh4_VqGAjJRwXS-M3dATw&s" alt="Student 1" class="img-fluid rounded-circle mr-3" width="50">
                                <div>
                                    <h6 class="mb-0">Lucas Jones</h6>
                                    <small>Allover score: 90%</small>
                                </div>
                                <span class="badge bg-warning text-dark ms-auto">1</span>
                            </div>
                            <div class="list-group-item d-flex align-items-center p-3 mb-2 shadow-sm">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtPueYaKxR_J0cSzh4_VqGAjJRwXS-M3dATw&s" alt="Student 1" class="img-fluid rounded-circle mr-3" width="50">
                                <div>
                                    <h6 class="mb-0">Lucas Jones</h6>
                                    <small>Allover score: 90%</small>
                                </div>
                                <span class="badge bg-warning text-dark ms-auto">1</span>
                            </div>
                            <div class="list-group-item d-flex align-items-center p-3 mb-2 shadow-sm">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtPueYaKxR_J0cSzh4_VqGAjJRwXS-M3dATw&s" alt="Student 1" class="img-fluid rounded-circle mr-3" width="50">
                                <div>
                                    <h6 class="mb-0">Lucas Jones</h6>
                                    <small>Allover score: 90%</small>
                                </div>
                                <span class="badge bg-warning text-dark ms-auto">1</span>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Attendance Chart Card -->
                <div class="col-md-8 d-flex">
                    <div class="card text-center p-3 shadow-lg w-100" style="border-radius: 20px;">
                        <h5>Teacher Attendance</h5>
                        <canvas id="attendanceChart2" style="height: 300px; max-height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        

        </div>
    </div>
</div>


{% endblock main %}


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Server Migration <span
                                            class="float-right">20%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Sales Tracking <span
                                            class="float-right">40%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Customer Database <span
                                            class="float-right">60%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 60%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Payout Details <span
                                            class="float-right">80%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Account Setup <span
                                            class="float-right">Complete!</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Color System -->
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-primary text-white shadow">
                                        <div class="card-body">
                                            Primary
                                            <div class="text-white-50 small">#4e73df</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-success text-white shadow">
                                        <div class="card-body">
                                            Success
                                            <div class="text-white-50 small">#1cc88a</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-info text-white shadow">
                                        <div class="card-body">
                                            Info
                                            <div class="text-white-50 small">#36b9cc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-warning text-white shadow">
                                        <div class="card-body">
                                            Warning
                                            <div class="text-white-50 small">#f6c23e</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            Danger
                                            <div class="text-white-50 small">#e74a3b</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-secondary text-white shadow">
                                        <div class="card-body">
                                            Secondary
                                            <div class="text-white-50 small">#858796</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-light text-black shadow">
                                        <div class="card-body">
                                            Light
                                            <div class="text-black-50 small">#f8f9fc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-dark text-white shadow">
                                        <div class="card-body">
                                            Dark
                                            <div class="text-white-50 small">#5a5c69</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="img/undraw_posting_photo.svg" alt="...">
                                    </div>
                                    <p>Add some quality, svg illustrations to your project courtesy of <a
                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                        constantly updated collection of beautiful svg images that you can use
                                        completely free and without attribution!</p>
                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                        unDraw &rarr;</a>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>

                        </div>
                    </div>
