{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block main %}
{% load static %}

    <div class="container">                
        
            
            <h2 class="fw-bold text-center text-lg-start " style="color:#1E3A8A;">Teacher List</h2>
        
            <hr class=""> 
            <form action="" method="get">
                <div class="row align-items-center mb-3">
                  <!-- Title Section -->
                  <div class="col-md-3">
                    <div class="mb-3">
                      <h5 class="card-title">ClassRooms <span class="text-muted fw-normal ms-2">({{total_teacher}})</span></h5>
                    </div>
                </div> 
                
                  <!-- Search Bar -->
                  <div class="col-md-2 col-8 offset-lg-2 ">
                    <input type="text" class="form-control" name    ="search" id="searchInput" placeholder="Search students...">
                  </div>
                
    
                  <div class="col-md-1 d-none d-sm-block">
                    <button type="submit" id="filter-btn"  class="btn btn-primary" style="background-color:#1E3A8A;"><i class="bi bi-funnel"></i></button>
                  </div>
                  <div class="col-4 d-lg-none">
                    <button type="submit" id="filter-btn"  class="btn btn-primary" style="background-color:#1E3A8A;"><i class="bi bi-funnel"></i> Filter</button>
                  </div>
            </form>
                <div class="col-md-1 col-2 my-3 ms-3 ms-lg-0 px-0">
                    <a href="{% url 'student-list' %}" >
                        <button type="button" id="filter-btn"  class="btn btn-success bg-success"><i class="fa-solid fa-file-excel"></i>  Excel</button>
                    </a>
                  </div>

                  
                  <div class="col-md-1 col-2 my-3 px-0 ps-1">
                    <a href="{% url 'student-list' %}" >
                        <button type="button" id="filter-btn"  class="btn btn-danger bg-danger"><i class="fa-solid fa-file-pdf"></i> PDF</button>
                    </a>
                  </div>
                  <!-- Add New Button -->
                  <div class="col-md-2 offset-lg-0 offset-1 col-6">
                    <a href="{% url 'access-user-list' %}" target="_blank" class="btn btn-primary w-100" style="background-color:#1E3A8A;">
                      <i class="bx bx-plus me-1"></i> Create New Teacher User
                    </a>
                  </div>            
                </div>


                
               <div class="row mx-auto text-center">
                
                    {% for teacher in teachers %}
                    <div class="card mx-2 my-2 shadow" style="width: 240px; {% if teacher.is_active %}background-color: #dfe1e8;{% endif %}">                        
                        <img src="{% if teacher.photo %}{{teacher.photo.url}}{% else %}{% static "core/img/profile.png" %}{% endif %}" class="img-thumbnail card-img-top my-2" alt="..." style="height: 250px; width: 250px;">
                        <div class="card-body">
                          <h5 class="card-title">{{teacher.user.first_name|capfirst}} {{teacher.user.last_name|capfirst}}</h5>
                            <p class="card-text">{{teacher.acc_id}}</p>
                            <a href="{% url "teacher-detail" teacher.acc_id %}" class="btn btn-success">View</a>
                            <a href="{% url "teacher-update" teacher.acc_id %}" class="btn btn-primary" style="background-color:#1E3A8A;">Update</a>
                        </div>
                    </div>
                    {% endfor %}
                  
                </div>
    
                {% if page_obj %}
                <div class="row g-0 align-items-center pb-4">
                    <div class="col-sm-6">
                        <div><p class="mb-sm-0">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries</p></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-end">
                            <ul class="pagination mb-sm-0">
                                      {% if page_obj.has_previous %}
                                          <li class="page-item">
                                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo; Previous</span>
                                              </a>
                                          </li>
                                      {% else %}
                                          <li class="page-item disabled">
                                              <span class="page-link">&laquo; Previous</span>
                                          </li>
                                      {% endif %}
    
                                      {% for page_num in page_obj.paginator.page_range %}
                                        {% if page_num == page_obj.number %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ page_num }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                            </li>
                                        {% endif %}
                                      {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">Next &raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">Next &raquo;</span>
                                        </li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            
        
          </div>
    

    

    

{% endblock main %}


<div class="table-responsive">
    <table class="table project-list-table table-nowrap align-middle table-borderless">
        <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Teacher</th>
                <th scope="col">Name</th>
                <th scope="col">Employee</th>
                <th scope="col">Gender</th>
                <th scope="col" style="width: 200px;">Action</th>
            </tr>
        </thead>
        <tbody id="studentTableBody">
            {% for teacher in teachers %}
          <tr>
              <th scope="row" class="ps-4">
                  <div class="form-check font-size-16"><input type="checkbox" class="form-check-input" id="contacusercheck1" /><label class="form-check-label" for="contacusercheck1"></label></div>
              </th>
              <td>
                {% if teacher.photo %}
                <img src="{{teacher.photo.url}}" alt="" class="avatar-sm rounded-circle me-2" />
                {% else %}
                <img src="{% static "core/img/profile.png" %}" alt="" class="avatar-sm rounded-circle me-2" />
                {% endif %}
                <a href="{% url 'teacher-detail' teacher.pk %}" class="text-body">{{teacher.teacher_id}}</a>
              </td>

              <td>{{teacher.first_name}} {{teacher.last_name}}</td>
              <td>
                {% if teacher.employment_type == 'FT'%}
                <span class="badge text-bg-success mb-0">Full Time</span>
                {% else %}
                <span class="badge text-bg-warning mb-0">Part Time</span>
                {% endif %}
              </td>
              <td>{{teacher.gender|capfirst }}</td>
              <td>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'teacher-update' teacher.pk %}">Update</a>
                            <a class="dropdown-item text-danger" href="#">Delete</a>
                        </div>
                    </li>
                </ul>
                </td>
          </tr>
          {% empty %}
                      <tr>
                          <td colspan="6">No students found.</td>
                      </tr>
            {% endfor %}
        </tbody>
    </table>
</div>