{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
<style>
.light-red-bg {
  background-color: #ffcccc !important;  /* Light red background */
}
</style>
{% endblock head %}

{% block main %}



<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Students </h1> -->
<!-- </div> -->


<div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <!-- Heading on the left -->
          <h2 class="fw-bold text-start" style="color:#1E3A8A;">Enrolled Student List</h2>
        </div>
        

      <hr>


      <!-- <div class="row"> -->
      <div class="row mt-5">

        <div class="card shadow mb-4">
          <div class="card-header py-3 mt-2">
            
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="m-0 font-weight-bold text-primary">Student's ({{enrollments.count}})</h6>

              <form action="" method="get" class="d-flex w-auto">
                <div class="me-2">
                  <select class="form-select" id="class-filter" name="search">
                    <option selected value="no-select">Filter</option>
                    <option value="done">Done</option>
                    <option value="cancelled">Cancelled</option>                    
                    <option value="incompleted">Incomplete</option>                    
                  </select>
                </div>
                
                <button type="submit" id="filter-btn" class="btn btn-primary" style="background-color:#1E3A8A;">
                  <i class="fa-solid fa-filter"></i>
                </button>
              </form>
            
            </div>

          </div>
          <div class="card-body">
              <div class="table-responsive">

                <table id="myTable" class="table" style="width:100%">
                  <thead>
                      <tr class="text-center">
                          <th class="text-center">#</th>
                          <th class="text-center">Student</th>
                          <th>Name</th>
                          <th class="text-center">Class</th>
                          <th class="text-center">Gender</th>
                          <th class="text-center">Entrollment Date</th>
                          <th class="text-center">Statuss</th>
                          <th class="text-center">Action</th>
                      </tr>
                  </thead>
                  <tbody>
              
                    {% for enroll in enrollments %}
                      <tr style="background-color: #eb0000 !important;">
                        <td class="text-center" >{{forloop.counter}}</td>
                          <td>
                              {% if enroll.student.photo %}
                              <img src="{{enroll.student.photo.url}}" alt="" class="avatar-sm rounded-circle me-2" style="width: 50px; height: 50px;"/>
                              {% else %}
                              <img src="{% static "core/img/profile.png" %}" alt="" class="avatar-sm rounded-circle me-2" style="width: 50px; height: 50px;"/>
                              {% endif %}
                              <a href="{% url "student-detail" enroll.id %}" class="text-body">{{enroll.student.student_id}}</a>
                          </td>
                          <td>{{enroll.student.first_name}} {{enroll.student.last_name}}</td>
                          <td class="text-center"><span class="badge text-bg-primary">{{enroll.standard}}</span></td>
                          <td>{{enroll.student.gender|capfirst }}</td>
                          <td>{{enroll.enrollment_date}}</td>
                          <td class="text-center">
                            {% if enroll.cancel_enroll %}
                              <i class="fa-solid fa-circle-xmark text-danger"></i> <br> 
                              <span class="text-danger">Canceled</span>
                            {% elif not enroll.fees_collections %}
                            <i class="fa-solid fa-triangle-exclamation text-warning"></i><br> 
                            <span class="text-warning">Incomplete</span>
                            {% else %}
                            <i class="fa-solid fa-circle-check text-success"></i><br> 
                              <span class="text-success">Done</span>
                            {% endif %}


                          </td>
                          <td>
                            {% if enroll.fees_collections %}
                              <a href="{% url "enrollment-detail" enroll.id %}">
                                <button class="btn btn-outline-primary px-3 py-2 rounded-3 font-size-16" type="button"> View </button>  
                              </a>
                            {% else %}
                              <a href="{% url "enrollment-fees" enroll.id %}">
                                <button class="btn btn-outline-primary px-3 py-2 rounded-3 font-size-16" type="button"> Fees </button>  
                              </a>
                            {% endif %}
                          </td>
                      
                      </tr>
                    {% endfor %}
                  </tbody>
              
              </table>
              </div>
          </div>
        </div>
        
      </div>

</div>





<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>

<script>
  new DataTable('#myTable', {  
});
</script>

{% endblock main %}



