<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ standard.name }} {{ standard.alias }}'s Details</title>
</head>
<body>
    <h1>{{ standard.name }} {{ standard.alias }}'s Details</h1>
    <h3>Stndard Details</h3>
    <p><strong>Class Teacher:</strong> {{ student.class_teacher }}</p>
    <p><strong>Class Monitor Boy:</strong> {{ student.class_monitor_boy }}</p>
    <p><strong>Class Monitore Girl</strong> {{ student.class_monitor_girl }}</p>


</body>
</html>
