{% extends "core/base.html" %}
{% load static %}

{% block main %}

<div class="col mt-4 mx-5">

                
  <div id="main-content">
      <h2 class="fw-bold text-center text-lg-start ms-lg-4" style="color:#1E3A8A;">{% if standard %}Update{% else %}Add{% endif %} Standard</h2>
      <hr class="ms-4 me-5">
      
      
      <div class="container mx-3 mx-3 my-3 py-4 px-4 ">        
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 border border-primary bg-white rounded-4">
              <form method="POST" novalidate>
                {% csrf_token %}
                <div class="row">      
                    <h3 class="text-center">Standard Information</h3>
              
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="photo" class="form-label">Standard Name <span class="text-danger">*</span></label>
                                {{ form.name }}
                            </div>
                            <div class="col-6">
                                <label for="photo" class="form-label">Standard Alias <span class="text-danger">*</span></label>
                                {{ form.alias}}
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="photo" class="form-label">Section <span class="text-danger">*</span></label>
                                {{ form.section }}                              
                            </div>
                        </div>
                        
                    </div>
              
                      {{form}}
              
              
              
                </div>
              
                <div class="row my-3 ">
                <div class="col-6 text-center">
                    <a href="{% url 'standard-list' %}" class="btn btn-secondary">Back to Student List</a>
                </div>
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>    
                </div>
              </form>   
              
            </div>
          </div>
        </div>


      </div>
    </div>
</div>  
{% endblock main %}
