<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{student.first_name}} {{student.last_name}}
    <br>
    {{student.date_of_birth}}
    <br>
    {{student.gender}}
    <br>
    {{student.student_id}}
    <br>
    {{student.enrollment_date}}
    <br>
    {{student.standard}}
    <br>
    <img src="{{student.photo.url}}" alt="">
    <br>
    {{student.address_line_1}}
    <br>
    {{student.address_line_2}}
    <br>
    {{student.city}}
    <br>
    {{student.district}}
    <br>
    {{student.state}}
    <br>
    {{student.pin_code}}
    <br>
    {{student.father_name}}
    <br>
    {{student.father_phone}}
    <br>
    {{student.father_email}}
    <br>
    {{student.mother_name}}
    <br>
    {{student.mother_phone}}
    <br>
    {{student.mother_email}}
    <br>
    {{student.guardian_name}}
    <br>
    {{student.guardian_phone}}
    <br>
    {{student.guardian_email}}
    <br>
    {{student.relation_to_guardian}}
</body>
</html>