{% extends "base.html" %}
{% load static %}

{% block head %}

<style>
.project-list-table {
    border-collapse: separate;
    border-spacing: 0 12px
    }
.project-list-table tr {
    background-color: #fff;
    border-radius: 10px;
    }
.table-nowrap td, .table-nowrap th {
    white-space: nowrap;
}
.table-borderless>:not(caption)>*>* {
    border-bottom-width: 0;
}
{% comment %} /* .table>:not(caption)>*>* {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
} */ {% endcomment %}
.rounded-circle {
    border-radius: 50%!important;
}
img, svg {
    vertical-align: middle;
}
.avatar-title {
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.avatar-sm {
    height: 2rem;
    width: 2rem;
}


</style>
{% endblock head %}

{% block main %}
<div id="main-content">
  <div class="container">              
        <div class="container">
            <h2 class="fw-bold text-center mt-5" style="color:#1E3A8A;">Attendance</h2>
            <div class="row text-center mb-0">
                <div class="col text-primary"><strong>{{standard.name}} {% if standard.section %}{{standard.section}}{% endif %}</strong></div>
                {% comment %} <div class="col text-danger"><strong>{{date | date:""}}</strong></div> {% endcomment %}
                <div class="col text-danger"><strong>{{date}}</strong></div>
            </div>
            <hr>
        
            <div class="container ">
               <div class="row">
                    <div class="col-lg-12">
                            <div class="my-5">
                                <div class="col-sm">
                                <a href="{% url 'mark-attendance' standard.id %}">
                                <button class="btn btn-primary">
                                    <i class="fa-solid fa-circle-left"></i> Back
                                </button>
                                </a>
                                </div>
                                <form method="POST">
                                {% csrf_token %}
                                <table class="project-list-table align-middle table-borderless">
                                    <thead class="text-lg-start">
                                        <tr class="bg-secondary">
                                            <th scope="col">#</th>
                                            <th scope="col">Student ({{students.count}})</th>
                                            <th scope="col">Statuss</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="studentTableBody">
                                      {% for student in students %}     
                                      
                                      <tr id="student-row-{{ student.id }}" class="shadow" style="background-color: {% if attendance.status == True %}lightgreen;{% elif attendance.status == False %}lightcoral;{% else %}{% endif %}">
                                            <td>{{forloop.counter}}</td>
                                          <td>
                                            {% if student.photo %}
                                            <img src="{{ student.photo.url}}" alt="" class="avatar-sm rounded-circle me-2" />
                                            {% else %}
                                            <img src="{% static "core/img/profile.png" %}" alt="" class="avatar-sm rounded-circle me-2" />
                                            {% endif %}
                                            {{student.get_full_name|truncatechars:13}}
                                          </td>
                                          
                                          <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" name="{{ attendance.student.id }}" onclick="toggleRowStyle(this, '{{ attendance.student.id }}')" {% if attendance.status %}checked{% endif %}>
                                            </div>
                                          </td>
                                      </tr>
                                      {% empty %}
                                                  <tr>
                                                      <td colspan="6">No students found.</td>
                                                  </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                          </div>
                    </div>
                </div>
            </div>
          </div>
  </div>
</div>




<script>
    function toggleRowStyle(checkbox, studentId) {
    const row = document.getElementById('student-row-'+studentId);
    if (checkbox.checked) {
        row.style.backgroundColor = 'lightgreen';
    } else {
        row.style.backgroundColor = 'lightcoral';
    }
}
</script>




{% endblock main %}

