{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    .thumbnail-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
</style>
{% endblock head %}


{% block main %}

<div class="container mb-4">

        <h2 class="fw-bold text-center text-lg-start" style="color:#1E3A8A;">{% if student %}Edit{% else %}Add{% endif %} Student</h2>
        <hr class="">
        <div class="container bg-white rounded-4 py-4 px-4 shadow">
    
             {% comment %} <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
               
                <div class="row ">
                    <h3>Personal Information</h3>

                    <div class="col-8 mb-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="photo" class="form-label">First Name <span class="text-danger">*</span></label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-6">
                                <label for="photo" class="form-label">Last Name <span class="text-danger">*</span></label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="photo" class="form-label">Date Of Birth <span class="text-danger">*</span></label>
                                {{ form.date_of_birth }}
                            </div>
                            <div class="col-6">
                                <label for="photo" class="form-label">Gender <span class="text-danger">*</span></label>
                                {{ form.gender }}
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-4 mb-3">
                        <div class="row">

                            <div class="thumbnail-wrapper">
                                <!-- Display the existing or preview image -->
                                <img id="imagePreview" src="{% if form.photo.value %}{{ form.photo.value.url }}{% else %}{% static "core/img/uplod-thumbnel.png" %}{% endif %}" alt="..." class="rounded-3 px-2 py-2" style="height: 180px; width:180px; border:dashed;">
                    
                                <!-- Hidden file input for selecting a new image -->
                                {{form.photo}}      
                                
                                <!-- Button to trigger file input -->
                                <button type="button" class="btn btn-primary" onclick="document.getElementById('id_photo').click()">Browse</button>
                            </div>  

                        </div>
                        <div class="row">
                            <div class="col">
                                 
                            </div>
                        </div>
                    </div>




                </div>
                
                <hr/>
                <div class="row">
                    <h3 class="mt-3">Academic</h3>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Standard <span class="text-danger">*</span></label>
                        {{ form.standard }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Student ID</label>
                        {{form.student_id}}
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <h3 class="mt-3">Address</h3>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Address Line 1 <span class="text-danger">*</span> </label>
                        {{ form.address_line_1 }}
                    </div>

                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Address Line 2</label>
                        {{ form.address_line_2 }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">City <span class="text-danger">*</span></label>
                        {{ form.city }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">District <span class="text-danger">*</span></label>
                        {{ form.district }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">State <span class="text-danger">*</span></label>
                        {{ form.state }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Pin Code <span class="text-danger">*</span></label>
                        {{ form.pin_code }}
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <h3 class="mt-3">Parent's Information</h3>
                    <div class="col-6 mb-3">
                        <div class="row">
                            <div class="col-12">
                                <label for="photo" class="form-label">Father Name <span class="text-danger">*</span></label>
                                {{form.father_name}}
                            </div>
        
                            <div class="col">
                                <label for="photo" class="form-label">Father Mobile</label>
                                {{ form.father_phone }}
                            </div>
                            <div class="col">
                                <label for="photo" class="form-label">Father Email</label>
                                {{ form.father_email }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="row">
                            <div class="col-12">
                                <label for="photo" class="form-label">Mother Name <span class="text-danger">*</span></label>
                                {{form.mother_name}}
                            </div>
        
                            <div class="col">
                                <label for="photo" class="form-label">Mother Mobile</label>
                                {{ form.mother_phone }}
                            </div>
                            <div class="col">
                                <label for="photo" class="form-label">Mother Email</label>
                                {{ form.mother_email }}
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                
                <div class="row">
                    <h3 class="mt-3">Guardian Information</h3>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Guardian Name</label>
                        {{form.guardian_name}}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Guardian Mobile</label>
                        {{form.guardian_phone}}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Guardian Email</label>
                        {{form.guardian_email}}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="photo" class="form-label">Guardian Relation</label>
                        {{form.relation_to_guardian}}
                    </div>
                </div>
                <div class="row  my-3 ">
                <div class="col-6 text-center">
                    <a href="{% url 'student-list' %}" class="btn btn-secondary">Back to Student List</a>
                </div>
                <div class="col-6 text-center">
                    
                    {% if form. %}{% endif %}
                    <button class="btn btn-primary mx-2">Save</button>

                    <button type="submit" class="btn btn-success mx-2">Save & Next <i class="fa-solid fa-circle-right mx-1"></i></button>

                </div>    
                </div>
            </form>     {% endcomment %}


            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="row">
                    <h3 class="col-12">Personal Information</h3>
            
                    <div class="col-md-8 col-12 mb-3">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-3">
                                <label for="first_name" class="form-label">First Name <span class="text-danger">*</span></label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="last_name" class="form-label">Last Name <span class="text-danger">*</span></label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 col-12 mb-3">
                                <label for="date_of_birth" class="form-label">Date Of Birth <span class="text-danger">*</span></label>
                                {{ form.date_of_birth }}
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <label for="gender" class="form-label">Gender <span class="text-danger">*</span></label>
                                {{ form.gender }}
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-4 col-12 mb-3 text-center">
                        <div class="thumbnail-wrapper">
                            <img id="imagePreview" src="{% if form.photo.value %}{{ form.photo.value.url }}{% else %}{% static 'core/img/upload-thumbnail.png' %}{% endif %}" alt="Photo" class="rounded-3 px-2 py-2" style="height: 180px; width: 180px; border: dashed 1px;">
                            {{ form.photo }}  <!-- Hidden file input -->
                            <button type="button" class="btn btn-primary mt-2" onclick="document.getElementById('id_photo').click()">Browse</button>
                        </div>
                    </div>
                </div>
            
                <hr/>
            
                <div class="row">
                    <h3 class="col-12 mt-3">Academic</h3>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="standard" class="form-label">Standard <span class="text-danger">*</span></label>
                        {{ form.standard }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="student_id" class="form-label">Student ID</label>
                        {{ form.student_id }}
                    </div>
                </div>
            
                <hr/>
            
                <div class="row">
                    <h3 class="col-12 mt-3">Address</h3>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="address_line_1" class="form-label">Address Line 1 <span class="text-danger">*</span></label>
                        {{ form.address_line_1 }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="address_line_2" class="form-label">Address Line 2</label>
                        {{ form.address_line_2 }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                        {{ form.city }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="district" class="form-label">District <span class="text-danger">*</span></label>
                        {{ form.district }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="state" class="form-label">State <span class="text-danger">*</span></label>
                        {{ form.state }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="pin_code" class="form-label">Pin Code <span class="text-danger">*</span></label>
                        {{ form.pin_code }}
                    </div>
                </div>
            
                <hr/>
              
                <div class="row">
                    <h3 class="col-12 mt-3">Parent's Information</h3>
                
                    <!-- Father's Information -->
                    <div class="col-lg-6 col-md-6 col-12 mb-3">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="father_name" class="form-label">Father Name <span class="text-danger">*</span></label>
                                {{ form.father_name }}
                            </div>
                            <div class="col-6 mb-3">
                                <label for="father_phone" class="form-label">Father Mobile</label>
                                {{ form.father_phone }}
                            </div>
                            <div class="col-6 mb-3">
                                <label for="father_email" class="form-label">Father Email</label>
                                {{ form.father_email }}
                            </div>
                        </div>
                    </div>
                
                    <!-- Mother's Information -->
                    <div class="col-lg-6 col-md-6 col-12 mb-3">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="mother_name" class="form-label">Mother Name <span class="text-danger">*</span></label>
                                {{ form.mother_name }}
                            </div>
                            <div class="col-6 mb-3">
                                <label for="mother_phone" class="form-label">Mother Mobile</label>
                                {{ form.mother_phone }}
                            </div>
                            <div class="col-6 mb-3">
                                <label for="mother_email" class="form-label">Mother Email</label>
                                {{ form.mother_email }}
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
            
                <div class="row">
                    <h3 class="col-12 mt-3">Guardian Information</h3>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="guardian_name" class="form-label">Guardian Name</label>
                        {{ form.guardian_name }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="guardian_phone" class="form-label">Guardian Mobile</label>
                        {{ form.guardian_phone }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="guardian_email" class="form-label">Guardian Email</label>
                        {{ form.guardian_email }}
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="relation_to_guardian" class="form-label">Guardian Relation</label>
                        {{ form.relation_to_guardian }}
                    </div>
                </div>
            
                <hr/>
            
                <div class="row my-3">
                    <div class="col-md-6 col-12 text-center">
                        <a href="{% url 'student-list' %}" class="btn btn-secondary">Back to Student List</a>
                    </div>
                    <div class="col-md-6 col-12 text-center">
                        <button type="submit" class="btn btn-primary mx-2" name="action" value="save">Save</button>
                        
                        {% if not student %}
                            <button type="submit" class="btn btn-success mx-2" name="action" value="save_and_enroll">Save & Enroll<i class="fa-solid fa-circle-right mx-1"></i></button>
                        {% endif %}
                    </div>
                </div>
            </form>
        
        </div>
</div>



{% comment %} 
<div class="thumbnail-wrapper">
    <!-- Display the existing or preview image -->
    <img id="imagePreview" src="{% if form.photo.value %}{{ form.photo.value.url }}{% else %}{% static "core/img/uplod-thumbnel.png" %}{% endif %}" alt="..." class="rounded-3 px-2 py-2" style="height: 180px; width:180px; border:dashed;">

    <!-- Hidden file input for selecting a new image -->
    {{form.photo}}      
    
    <!-- Button to trigger file input -->
    <button type="button" class="btn btn-primary" onclick="document.getElementById('id_photo').click()">Browse</button>
</div> {% endcomment %}

    <!-- JavaScript to preview uploaded image -->
    <script>
        function previewImage(event) {
            const file = event.target.files[0];
            const imagePreview = document.getElementById('imagePreview');
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    imagePreview.src = e.target.result; // Update the <img> src with the new image
                }

                reader.readAsDataURL(file);
            }
        }
    </script>

{% endblock main %}